.category256.color1-fg { stroke: rgba(0,160,212,255); color: rgba(0,160,212,255); } 
.category256.color1-bg { background: rgba(0,160,212,255); fill: rgba(0,160,212,255); } 
.category256.color2-fg { stroke: rgba(158,220,255,255); color: rgba(158,220,255,255); } 
.category256.color2-bg { background: rgba(158,220,255,255); fill: rgba(158,220,255,255); } 
.category256.color3-fg { stroke: rgba(244,124,0,255); color: rgba(244,124,0,255); } 
.category256.color3-bg { background: rgba(244,124,0,255); fill: rgba(244,124,0,255); } 
.category256.color4-fg { stroke: rgba(255,204,169,255); color: rgba(255,204,169,255); } 
.category256.color4-bg { background: rgba(255,204,169,255); fill: rgba(255,204,169,255); } 
.category256.color5-fg { stroke: rgba(94,178,69,255); color: rgba(94,178,69,255); } 
.category256.color5-bg { background: rgba(94,178,69,255); fill: rgba(94,178,69,255); } 
.category256.color6-fg { stroke: rgba(185,231,176,255); color: rgba(185,231,176,255); } 
.category256.color6-bg { background: rgba(185,231,176,255); fill: rgba(185,231,176,255); } 
.category256.color7-fg { stroke: rgba(222,55,74,255); color: rgba(222,55,74,255); } 
.category256.color7-bg { background: rgba(222,55,74,255); fill: rgba(222,55,74,255); } 
.category256.color8-fg { stroke: rgba(255,178,183,255); color: rgba(255,178,183,255); } 
.category256.color8-bg { background: rgba(255,178,183,255); fill: rgba(255,178,183,255); } 
.category256.color9-fg { stroke: rgba(139,97,210,255); color: rgba(139,97,210,255); } 
.category256.color9-bg { background: rgba(139,97,210,255); fill: rgba(139,97,210,255); } 
.category256.color10-fg { stroke: rgba(210,196,245,255); color: rgba(210,196,245,255); } 
.category256.color10-bg { background: rgba(210,196,245,255); fill: rgba(210,196,245,255); } 
.category256.color11-fg { stroke: rgba(172,128,105,255); color: rgba(172,128,105,255); } 
.category256.color11-bg { background: rgba(172,128,105,255); fill: rgba(172,128,105,255); } 
.category256.color12-fg { stroke: rgba(226,204,191,255); color: rgba(226,204,191,255); } 
.category256.color12-bg { background: rgba(226,204,191,255); fill: rgba(226,204,191,255); } 
.category256.color13-fg { stroke: rgba(193,82,181,255); color: rgba(193,82,181,255); } 
.category256.color13-bg { background: rgba(193,82,181,255); fill: rgba(193,82,181,255); } 
.category256.color14-fg { stroke: rgba(237,185,230,255); color: rgba(237,185,230,255); } 
.category256.color14-bg { background: rgba(237,185,230,255); fill: rgba(237,185,230,255); } 
.category256.color15-fg { stroke: rgba(198,136,74,255); color: rgba(198,136,74,255); } 
.category256.color15-bg { background: rgba(198,136,74,255); fill: rgba(198,136,74,255); } 
.category256.color16-fg { stroke: rgba(240,212,185,255); color: rgba(240,212,185,255); } 
.category256.color16-bg { background: rgba(240,212,185,255); fill: rgba(240,212,185,255); } 
.category256.color17-fg { stroke: rgba(0,149,202,255); color: rgba(0,149,202,255); } 
.category256.color17-bg { background: rgba(0,149,202,255); fill: rgba(0,149,202,255); } 
.category256.color18-fg { stroke: rgba(121,209,255,255); color: rgba(121,209,255,255); } 
.category256.color18-bg { background: rgba(121,209,255,255); fill: rgba(121,209,255,255); } 
.category256.color19-fg { stroke: rgba(233,123,0,255); color: rgba(233,123,0,255); } 
.category256.color19-bg { background: rgba(233,123,0,255); fill: rgba(233,123,0,255); } 
.category256.color20-fg { stroke: rgba(255,183,133,255); color: rgba(255,183,133,255); } 
.category256.color20-bg { background: rgba(255,183,133,255); fill: rgba(255,183,133,255); } 
.category256.color21-fg { stroke: rgba(87,168,66,255); color: rgba(87,168,66,255); } 
.category256.color21-bg { background: rgba(87,168,66,255); fill: rgba(87,168,66,255); } 
.category256.color22-fg { stroke: rgba(160,224,146,255); color: rgba(160,224,146,255); } 
.category256.color22-bg { background: rgba(160,224,146,255); fill: rgba(160,224,146,255); } 
.category256.color23-fg { stroke: rgba(211,53,68,255); color: rgba(211,53,68,255); } 
.category256.color23-bg { background: rgba(211,53,68,255); fill: rgba(211,53,68,255); } 
.category256.color24-fg { stroke: rgba(255,150,157,255); color: rgba(255,150,157,255); } 
.category256.color24-bg { background: rgba(255,150,157,255); fill: rgba(255,150,157,255); } 
.category256.color25-fg { stroke: rgba(136,95,202,255); color: rgba(136,95,202,255); } 
.category256.color25-bg { background: rgba(136,95,202,255); fill: rgba(136,95,202,255); } 
.category256.color26-fg { stroke: rgba(190,170,242,255); color: rgba(190,170,242,255); } 
.category256.color26-bg { background: rgba(190,170,242,255); fill: rgba(190,170,242,255); } 
.category256.color27-fg { stroke: rgba(163,121,100,255); color: rgba(163,121,100,255); } 
.category256.color27-bg { background: rgba(163,121,100,255); fill: rgba(163,121,100,255); } 
.category256.color28-fg { stroke: rgba(214,182,167,255); color: rgba(214,182,167,255); } 
.category256.color28-bg { background: rgba(214,182,167,255); fill: rgba(214,182,167,255); } 
.category256.color29-fg { stroke: rgba(184,78,172,255); color: rgba(184,78,172,255); } 
.category256.color29-bg { background: rgba(184,78,172,255); fill: rgba(184,78,172,255); } 
.category256.color30-fg { stroke: rgba(232,159,222,255); color: rgba(232,159,222,255); } 
.category256.color30-bg { background: rgba(232,159,222,255); fill: rgba(232,159,222,255); } 
.category256.color31-fg { stroke: rgba(190,129,71,255); color: rgba(190,129,71,255); } 
.category256.color31-bg { background: rgba(190,129,71,255); fill: rgba(190,129,71,255); } 
.category256.color32-fg { stroke: rgba(237,192,158,255); color: rgba(237,192,158,255); } 
.category256.color32-bg { background: rgba(237,192,158,255); fill: rgba(237,192,158,255); } 
.category256.color33-fg { stroke: rgba(0,137,186,255); color: rgba(0,137,186,255); } 
.category256.color33-bg { background: rgba(0,137,186,255); fill: rgba(0,137,186,255); } 
.category256.color34-fg { stroke: rgba(83,195,255,255); color: rgba(83,195,255,255); } 
.category256.color34-bg { background: rgba(83,195,255,255); fill: rgba(83,195,255,255); } 
.category256.color35-fg { stroke: rgba(221,116,0,255); color: rgba(221,116,0,255); } 
.category256.color35-bg { background: rgba(221,116,0,255); fill: rgba(221,116,0,255); } 
.category256.color36-fg { stroke: rgba(255,162,93,255); color: rgba(255,162,93,255); } 
.category256.color36-bg { background: rgba(255,162,93,255); fill: rgba(255,162,93,255); } 
.category256.color37-fg { stroke: rgba(80,155,61,255); color: rgba(80,155,61,255); } 
.category256.color37-bg { background: rgba(80,155,61,255); fill: rgba(80,155,61,255); } 
.category256.color38-fg { stroke: rgba(132,214,115,255); color: rgba(132,214,115,255); } 
.category256.color38-bg { background: rgba(132,214,115,255); fill: rgba(132,214,115,255); } 
.category256.color39-fg { stroke: rgba(199,52,63,255); color: rgba(199,52,63,255); } 
.category256.color39-bg { background: rgba(199,52,63,255); fill: rgba(199,52,63,255); } 
.category256.color40-fg { stroke: rgba(255,115,123,255); color: rgba(255,115,123,255); } 
.category256.color40-bg { background: rgba(255,115,123,255); fill: rgba(255,115,123,255); } 
.category256.color41-fg { stroke: rgba(128,88,191,255); color: rgba(128,88,191,255); } 
.category256.color41-bg { background: rgba(128,88,191,255); fill: rgba(128,88,191,255); } 
.category256.color42-fg { stroke: rgba(173,143,238,255); color: rgba(173,143,238,255); } 
.category256.color42-bg { background: rgba(173,143,238,255); fill: rgba(173,143,238,255); } 
.category256.color43-fg { stroke: rgba(152,115,95,255); color: rgba(152,115,95,255); } 
.category256.color43-bg { background: rgba(152,115,95,255); fill: rgba(152,115,95,255); } 
.category256.color44-fg { stroke: rgba(203,159,140,255); color: rgba(203,159,140,255); } 
.category256.color44-bg { background: rgba(203,159,140,255); fill: rgba(203,159,140,255); } 
.category256.color45-fg { stroke: rgba(173,74,162,255); color: rgba(173,74,162,255); } 
.category256.color45-bg { background: rgba(173,74,162,255); fill: rgba(173,74,162,255); } 
.category256.color46-fg { stroke: rgba(225,128,212,255); color: rgba(225,128,212,255); } 
.category256.color46-bg { background: rgba(225,128,212,255); fill: rgba(225,128,212,255); } 
.category256.color47-fg { stroke: rgba(178,124,68,255); color: rgba(178,124,68,255); } 
.category256.color47-bg { background: rgba(178,124,68,255); fill: rgba(178,124,68,255); } 
.category256.color48-fg { stroke: rgba(230,170,124,255); color: rgba(230,170,124,255); } 
.category256.color48-bg { background: rgba(230,170,124,255); fill: rgba(230,170,124,255); } 
.category256.color49-fg { stroke: rgba(0,120,162,255); color: rgba(0,120,162,255); } 
.category256.color49-bg { background: rgba(0,120,162,255); fill: rgba(0,120,162,255); } 
.category256.color50-fg { stroke: rgba(48,178,255,255); color: rgba(48,178,255,255); } 
.category256.color50-bg { background: rgba(48,178,255,255); fill: rgba(48,178,255,255); } 
.category256.color51-fg { stroke: rgba(200,104,0,255); color: rgba(200,104,0,255); } 
.category256.color51-bg { background: rgba(200,104,0,255); fill: rgba(200,104,0,255); } 
.category256.color52-fg { stroke: rgba(255,140,49,255); color: rgba(255,140,49,255); } 
.category256.color52-bg { background: rgba(255,140,49,255); fill: rgba(255,140,49,255); } 
.category256.color53-fg { stroke: rgba(69,135,53,255); color: rgba(69,135,53,255); } 
.category256.color53-bg { background: rgba(69,135,53,255); fill: rgba(69,135,53,255); } 
.category256.color54-fg { stroke: rgba(106,206,86,255); color: rgba(106,206,86,255); } 
.category256.color54-bg { background: rgba(106,206,86,255); fill: rgba(106,206,86,255); } 
.category256.color55-fg { stroke: rgba(176,46,55,255); color: rgba(176,46,55,255); } 
.category256.color55-bg { background: rgba(176,46,55,255); fill: rgba(176,46,55,255); } 
.category256.color56-fg { stroke: rgba(255,84,94,255); color: rgba(255,84,94,255); } 
.category256.color56-bg { background: rgba(255,84,94,255); fill: rgba(255,84,94,255); } 
.category256.color57-fg { stroke: rgba(115,80,174,255); color: rgba(115,80,174,255); } 
.category256.color57-bg { background: rgba(115,80,174,255); fill: rgba(115,80,174,255); } 
.category256.color58-fg { stroke: rgba(152,115,237,255); color: rgba(152,115,237,255); } 
.category256.color58-bg { background: rgba(152,115,237,255); fill: rgba(152,115,237,255); } 
.category256.color59-fg { stroke: rgba(132,100,82,255); color: rgba(132,100,82,255); } 
.category256.color59-bg { background: rgba(132,100,82,255); fill: rgba(132,100,82,255); } 
.category256.color60-fg { stroke: rgba(190,136,114,255); color: rgba(190,136,114,255); } 
.category256.color60-bg { background: rgba(190,136,114,255); fill: rgba(190,136,114,255); } 
.category256.color61-fg { stroke: rgba(153,64,142,255); color: rgba(153,64,142,255); } 
.category256.color61-bg { background: rgba(153,64,142,255); fill: rgba(153,64,142,255); } 
.category256.color62-fg { stroke: rgba(220,99,203,255); color: rgba(220,99,203,255); } 
.category256.color62-bg { background: rgba(220,99,203,255); fill: rgba(220,99,203,255); } 
.category256.color63-fg { stroke: rgba(158,109,60,255); color: rgba(158,109,60,255); } 
.category256.color63-bg { background: rgba(158,109,60,255); fill: rgba(158,109,60,255); } 
.category256.color64-fg { stroke: rgba(227,153,94,255); color: rgba(227,153,94,255); } 
.category256.color64-bg { background: rgba(227,153,94,255); fill: rgba(227,153,94,255); } 
.category256.color65-fg { stroke: rgba(0,104,139,255); color: rgba(0,104,139,255); } 
.category256.color65-bg { background: rgba(0,104,139,255); fill: rgba(0,104,139,255); } 
.category256.color66-fg { stroke: rgba(20,164,255,255); color: rgba(20,164,255,255); } 
.category256.color66-bg { background: rgba(20,164,255,255); fill: rgba(20,164,255,255); } 
.category256.color67-fg { stroke: rgba(181,94,0,255); color: rgba(181,94,0,255); } 
.category256.color67-bg { background: rgba(181,94,0,255); fill: rgba(181,94,0,255); } 
.category256.color68-fg { stroke: rgba(255,117,10,255); color: rgba(255,117,10,255); } 
.category256.color68-bg { background: rgba(255,117,10,255); fill: rgba(255,117,10,255); } 
.category256.color69-fg { stroke: rgba(61,117,46,255); color: rgba(61,117,46,255); } 
.category256.color69-bg { background: rgba(61,117,46,255); fill: rgba(61,117,46,255); } 
.category256.color70-fg { stroke: rgba(81,196,60,255); color: rgba(81,196,60,255); } 
.category256.color70-bg { background: rgba(81,196,60,255); fill: rgba(81,196,60,255); } 
.category256.color71-fg { stroke: rgba(156,41,52,255); color: rgba(156,41,52,255); } 
.category256.color71-bg { background: rgba(156,41,52,255); fill: rgba(156,41,52,255); } 
.category256.color72-fg { stroke: rgba(255,54,63,255); color: rgba(255,54,63,255); } 
.category256.color72-bg { background: rgba(255,54,63,255); fill: rgba(255,54,63,255); } 
.category256.color73-fg { stroke: rgba(105,74,157,255); color: rgba(105,74,157,255); } 
.category256.color73-bg { background: rgba(105,74,157,255); fill: rgba(105,74,157,255); } 
.category256.color74-fg { stroke: rgba(132,88,232,255); color: rgba(132,88,232,255); } 
.category256.color74-bg { background: rgba(132,88,232,255); fill: rgba(132,88,232,255); } 
.category256.color75-fg { stroke: rgba(114,84,71,255); color: rgba(114,84,71,255); } 
.category256.color75-bg { background: rgba(114,84,71,255); fill: rgba(114,84,71,255); } 
.category256.color76-fg { stroke: rgba(178,119,93,255); color: rgba(178,119,93,255); } 
.category256.color76-bg { background: rgba(178,119,93,255); fill: rgba(178,119,93,255); } 
.category256.color77-fg { stroke: rgba(137,58,127,255); color: rgba(137,58,127,255); } 
.category256.color77-bg { background: rgba(137,58,127,255); fill: rgba(137,58,127,255); } 
.category256.color78-fg { stroke: rgba(213,72,191,255); color: rgba(213,72,191,255); } 
.category256.color78-bg { background: rgba(213,72,191,255); fill: rgba(213,72,191,255); } 
.category256.color79-fg { stroke: rgba(140,97,54,255); color: rgba(140,97,54,255); } 
.category256.color79-bg { background: rgba(140,97,54,255); fill: rgba(140,97,54,255); } 
.category256.color80-fg { stroke: rgba(220,132,66,255); color: rgba(220,132,66,255); } 
.category256.color80-bg { background: rgba(220,132,66,255); fill: rgba(220,132,66,255); } 
.category256.color81-fg { stroke: rgba(4,90,120,255); color: rgba(4,90,120,255); } 
.category256.color81-bg { background: rgba(4,90,120,255); fill: rgba(4,90,120,255); } 
.category256.color82-fg { stroke: rgba(0,150,255,255); color: rgba(0,150,255,255); } 
.category256.color82-bg { background: rgba(0,150,255,255); fill: rgba(0,150,255,255); } 
.category256.color83-fg { stroke: rgba(163,84,0,255); color: rgba(163,84,0,255); } 
.category256.color83-bg { background: rgba(163,84,0,255); fill: rgba(163,84,0,255); } 
.category256.color84-fg { stroke: rgba(255,93,0,255); color: rgba(255,93,0,255); } 
.category256.color84-bg { background: rgba(255,93,0,255); fill: rgba(255,93,0,255); } 
.category256.color85-fg { stroke: rgba(53,100,39,255); color: rgba(53,100,39,255); } 
.category256.color85-bg { background: rgba(53,100,39,255); fill: rgba(53,100,39,255); } 
.category256.color86-fg { stroke: rgba(58,188,34,255); color: rgba(58,188,34,255); } 
.category256.color86-bg { background: rgba(58,188,34,255); fill: rgba(58,188,34,255); } 
.category256.color87-fg { stroke: rgba(137,38,48,255); color: rgba(137,38,48,255); } 
.category256.color87-bg { background: rgba(137,38,48,255); fill: rgba(137,38,48,255); } 
.category256.color88-fg { stroke: rgba(255,22,32,255); color: rgba(255,22,32,255); } 
.category256.color88-bg { background: rgba(255,22,32,255); fill: rgba(255,22,32,255); } 
.category256.color89-fg { stroke: rgba(92,67,140,255); color: rgba(92,67,140,255); } 
.category256.color89-bg { background: rgba(92,67,140,255); fill: rgba(92,67,140,255); } 
.category256.color90-fg { stroke: rgba(111,58,230,255); color: rgba(111,58,230,255); } 
.category256.color90-bg { background: rgba(111,58,230,255); fill: rgba(111,58,230,255); } 
.category256.color91-fg { stroke: rgba(98,73,61,255); color: rgba(98,73,61,255); } 
.category256.color91-bg { background: rgba(98,73,61,255); fill: rgba(98,73,61,255); } 
.category256.color92-fg { stroke: rgba(168,100,70,255); color: rgba(168,100,70,255); } 
.category256.color92-bg { background: rgba(168,100,70,255); fill: rgba(168,100,70,255); } 
.category256.color93-fg { stroke: rgba(119,53,112,255); color: rgba(119,53,112,255); } 
.category256.color93-bg { background: rgba(119,53,112,255); fill: rgba(119,53,112,255); } 
.category256.color94-fg { stroke: rgba(206,42,182,255); color: rgba(206,42,182,255); } 
.category256.color94-bg { background: rgba(206,42,182,255); fill: rgba(206,42,182,255); } 
.category256.color95-fg { stroke: rgba(122,87,49,255); color: rgba(122,87,49,255); } 
.category256.color95-bg { background: rgba(122,87,49,255); fill: rgba(122,87,49,255); } 
.category256.color96-fg { stroke: rgba(218,106,35,255); color: rgba(218,106,35,255); } 
.category256.color96-bg { background: rgba(218,106,35,255); fill: rgba(218,106,35,255); } 
.category256.color97-fg { stroke: rgba(2,68,94,255); color: rgba(2,68,94,255); } 
.category256.color97-bg { background: rgba(2,68,94,255); fill: rgba(2,68,94,255); } 
.category256.color98-fg { stroke: rgba(0,123,233,255); color: rgba(0,123,233,255); } 
.category256.color98-bg { background: rgba(0,123,233,255); fill: rgba(0,123,233,255); } 
.category256.color99-fg { stroke: rgba(139,68,0,255); color: rgba(139,68,0,255); } 
.category256.color99-bg { background: rgba(139,68,0,255); fill: rgba(139,68,0,255); } 
.category256.color100-fg { stroke: rgba(255,71,0,255); color: rgba(255,71,0,255); } 
.category256.color100-bg { background: rgba(255,71,0,255); fill: rgba(255,71,0,255); } 
.category256.color101-fg { stroke: rgba(38,77,28,255); color: rgba(38,77,28,255); } 
.category256.color101-bg { background: rgba(38,77,28,255); fill: rgba(38,77,28,255); } 
.category256.color102-fg { stroke: rgba(40,160,21,255); color: rgba(40,160,21,255); } 
.category256.color102-bg { background: rgba(40,160,21,255); fill: rgba(40,160,21,255); } 
.category256.color103-fg { stroke: rgba(112,28,36,255); color: rgba(112,28,36,255); } 
.category256.color103-bg { background: rgba(112,28,36,255); fill: rgba(112,28,36,255); } 
.category256.color104-fg { stroke: rgba(243,12,20,255); color: rgba(243,12,20,255); } 
.category256.color104-bg { background: rgba(243,12,20,255); fill: rgba(243,12,20,255); } 
.category256.color105-fg { stroke: rgba(77,53,117,255); color: rgba(77,53,117,255); } 
.category256.color105-bg { background: rgba(77,53,117,255); fill: rgba(77,53,117,255); } 
.category256.color106-fg { stroke: rgba(90,40,209,255); color: rgba(90,40,209,255); } 
.category256.color106-bg { background: rgba(90,40,209,255); fill: rgba(90,40,209,255); } 
.category256.color107-fg { stroke: rgba(75,54,45,255); color: rgba(75,54,45,255); } 
.category256.color107-bg { background: rgba(75,54,45,255); fill: rgba(75,54,45,255); } 
.category256.color108-fg { stroke: rgba(152,84,56,255); color: rgba(152,84,56,255); } 
.category256.color108-bg { background: rgba(152,84,56,255); fill: rgba(152,84,56,255); } 
.category256.color109-fg { stroke: rgba(96,39,90,255); color: rgba(96,39,90,255); } 
.category256.color109-bg { background: rgba(96,39,90,255); fill: rgba(96,39,90,255); } 
.category256.color110-fg { stroke: rgba(181,29,158,255); color: rgba(181,29,158,255); } 
.category256.color110-bg { background: rgba(181,29,158,255); fill: rgba(181,29,158,255); } 
.category256.color111-fg { stroke: rgba(98,68,38,255); color: rgba(98,68,38,255); } 
.category256.color111-bg { background: rgba(98,68,38,255); fill: rgba(98,68,38,255); } 
.category256.color112-fg { stroke: rgba(191,84,22,255); color: rgba(191,84,22,255); } 
.category256.color112-bg { background: rgba(191,84,22,255); fill: rgba(191,84,22,255); } 
.category256.color113-fg { stroke: rgba(1,47,68,255); color: rgba(1,47,68,255); } 
.category256.color113-bg { background: rgba(1,47,68,255); fill: rgba(1,47,68,255); } 
.category256.color114-fg { stroke: rgba(0,99,203,255); color: rgba(0,99,203,255); } 
.category256.color114-bg { background: rgba(0,99,203,255); fill: rgba(0,99,203,255); } 
.category256.color115-fg { stroke: rgba(110,53,0,255); color: rgba(110,53,0,255); } 
.category256.color115-bg { background: rgba(110,53,0,255); fill: rgba(110,53,0,255); } 
.category256.color116-fg { stroke: rgba(255,57,0,255); color: rgba(255,57,0,255); } 
.category256.color116-bg { background: rgba(255,57,0,255); fill: rgba(255,57,0,255); } 
.category256.color117-fg { stroke: rgba(23,54,16,255); color: rgba(23,54,16,255); } 
.category256.color117-bg { background: rgba(23,54,16,255); fill: rgba(23,54,16,255); } 
.category256.color118-fg { stroke: rgba(28,132,14,255); color: rgba(28,132,14,255); } 
.category256.color118-bg { background: rgba(28,132,14,255); fill: rgba(28,132,14,255); } 
.category256.color119-fg { stroke: rgba(87,20,21,255); color: rgba(87,20,21,255); } 
.category256.color119-bg { background: rgba(87,20,21,255); fill: rgba(87,20,21,255); } 
.category256.color120-fg { stroke: rgba(216,8,14,255); color: rgba(216,8,14,255); } 
.category256.color120-bg { background: rgba(216,8,14,255); fill: rgba(216,8,14,255); } 
.category256.color121-fg { stroke: rgba(58,38,94,255); color: rgba(58,38,94,255); } 
.category256.color121-bg { background: rgba(58,38,94,255); fill: rgba(58,38,94,255); } 
.category256.color122-fg { stroke: rgba(74,29,184,255); color: rgba(74,29,184,255); } 
.category256.color122-bg { background: rgba(74,29,184,255); fill: rgba(74,29,184,255); } 
.category256.color123-fg { stroke: rgba(53,38,30,255); color: rgba(53,38,30,255); } 
.category256.color123-bg { background: rgba(53,38,30,255); fill: rgba(53,38,30,255); } 
.category256.color124-fg { stroke: rgba(127,65,41,255); color: rgba(127,65,41,255); } 
.category256.color124-bg { background: rgba(127,65,41,255); fill: rgba(127,65,41,255); } 
.category256.color125-fg { stroke: rgba(74,26,65,255); color: rgba(74,26,65,255); } 
.category256.color125-bg { background: rgba(74,26,65,255); fill: rgba(74,26,65,255); } 
.category256.color126-fg { stroke: rgba(157,20,132,255); color: rgba(157,20,132,255); } 
.category256.color126-bg { background: rgba(157,20,132,255); fill: rgba(157,20,132,255); } 
.category256.color127-fg { stroke: rgba(76,50,24,255); color: rgba(76,50,24,255); } 
.category256.color127-bg { background: rgba(76,50,24,255); fill: rgba(76,50,24,255); } 
.category256.color128-fg { stroke: rgba(167,70,15,255); color: rgba(167,70,15,255); } 
.category256.color128-bg { background: rgba(167,70,15,255); fill: rgba(167,70,15,255); } 
.category256.color129-fg { stroke: rgba(0,190,199,255); color: rgba(0,190,199,255); } 
.category256.color129-bg { background: rgba(0,190,199,255); fill: rgba(0,190,199,255); } 
.category256.color130-fg { stroke: rgba(117,230,237,255); color: rgba(117,230,237,255); } 
.category256.color130-bg { background: rgba(117,230,237,255); fill: rgba(117,230,237,255); } 
.category256.color131-fg { stroke: rgba(235,188,60,255); color: rgba(235,188,60,255); } 
.category256.color131-bg { background: rgba(235,188,60,255); fill: rgba(235,188,60,255); } 
.category256.color132-fg { stroke: rgba(245,209,128,255); color: rgba(245,209,128,255); } 
.category256.color132-bg { background: rgba(245,209,128,255); fill: rgba(245,209,128,255); } 
.category256.color133-fg { stroke: rgba(71,178,117,255); color: rgba(71,178,117,255); } 
.category256.color133-bg { background: rgba(71,178,117,255); fill: rgba(71,178,117,255); } 
.category256.color134-fg { stroke: rgba(144,218,173,255); color: rgba(144,218,173,255); } 
.category256.color134-bg { background: rgba(144,218,173,255); fill: rgba(144,218,173,255); } 
.category256.color135-fg { stroke: rgba(217,71,95,255); color: rgba(217,71,95,255); } 
.category256.color135-bg { background: rgba(217,71,95,255); fill: rgba(217,71,95,255); } 
.category256.color136-fg { stroke: rgba(245,152,166,255); color: rgba(245,152,166,255); } 
.category256.color136-bg { background: rgba(245,152,166,255); fill: rgba(245,152,166,255); } 
.category256.color137-fg { stroke: rgba(190,98,210,255); color: rgba(190,98,210,255); } 
.category256.color137-bg { background: rgba(190,98,210,255); fill: rgba(190,98,210,255); } 
.category256.color138-fg { stroke: rgba(213,153,233,255); color: rgba(213,153,233,255); } 
.category256.color138-bg { background: rgba(213,153,233,255); fill: rgba(213,153,233,255); } 
.category256.color139-fg { stroke: rgba(172,106,114,255); color: rgba(172,106,114,255); } 
.category256.color139-bg { background: rgba(172,106,114,255); fill: rgba(172,106,114,255); } 
.category256.color140-fg { stroke: rgba(220,178,182,255); color: rgba(220,178,182,255); } 
.category256.color140-bg { background: rgba(220,178,182,255); fill: rgba(220,178,182,255); } 
.category256.color141-fg { stroke: rgba(193,83,128,255); color: rgba(193,83,128,255); } 
.category256.color141-bg { background: rgba(193,83,128,255); fill: rgba(193,83,128,255); } 
.category256.color142-fg { stroke: rgba(233,174,195,255); color: rgba(233,174,195,255); } 
.category256.color142-bg { background: rgba(233,174,195,255); fill: rgba(233,174,195,255); } 
.category256.color143-fg { stroke: rgba(69,69,69,255); color: rgba(69,69,69,255); } 
.category256.color143-bg { background: rgba(69,69,69,255); fill: rgba(69,69,69,255); } 
.category256.color144-fg { stroke: rgba(207,207,207,255); color: rgba(207,207,207,255); } 
.category256.color144-bg { background: rgba(207,207,207,255); fill: rgba(207,207,207,255); } 
.category256.color145-fg { stroke: rgba(0,177,188,255); color: rgba(0,177,188,255); } 
.category256.color145-bg { background: rgba(0,177,188,255); fill: rgba(0,177,188,255); } 
.category256.color146-fg { stroke: rgba(74,222,237,255); color: rgba(74,222,237,255); } 
.category256.color146-bg { background: rgba(74,222,237,255); fill: rgba(74,222,237,255); } 
.category256.color147-fg { stroke: rgba(225,183,56,255); color: rgba(225,183,56,255); } 
.category256.color147-bg { background: rgba(225,183,56,255); fill: rgba(225,183,56,255); } 
.category256.color148-fg { stroke: rgba(245,206,108,255); color: rgba(245,206,108,255); } 
.category256.color148-bg { background: rgba(245,206,108,255); fill: rgba(245,206,108,255); } 
.category256.color149-fg { stroke: rgba(67,168,112,255); color: rgba(67,168,112,255); } 
.category256.color149-bg { background: rgba(67,168,112,255); fill: rgba(67,168,112,255); } 
.category256.color150-fg { stroke: rgba(108,207,142,255); color: rgba(108,207,142,255); } 
.category256.color150-bg { background: rgba(108,207,142,255); fill: rgba(108,207,142,255); } 
.category256.color151-fg { stroke: rgba(208,69,92,255); color: rgba(208,69,92,255); } 
.category256.color151-bg { background: rgba(208,69,92,255); fill: rgba(208,69,92,255); } 
.category256.color152-fg { stroke: rgba(240,117,134,255); color: rgba(240,117,134,255); } 
.category256.color152-bg { background: rgba(240,117,134,255); fill: rgba(240,117,134,255); } 
.category256.color153-fg { stroke: rgba(183,96,202,255); color: rgba(183,96,202,255); } 
.category256.color153-bg { background: rgba(183,96,202,255); fill: rgba(183,96,202,255); } 
.category256.color154-fg { stroke: rgba(202,127,231,255); color: rgba(202,127,231,255); } 
.category256.color154-bg { background: rgba(202,127,231,255); fill: rgba(202,127,231,255); } 
.category256.color155-fg { stroke: rgba(163,101,111,255); color: rgba(163,101,111,255); } 
.category256.color155-bg { background: rgba(163,101,111,255); fill: rgba(163,101,111,255); } 
.category256.color156-fg { stroke: rgba(206,150,157,255); color: rgba(206,150,157,255); } 
.category256.color156-bg { background: rgba(206,150,157,255); fill: rgba(206,150,157,255); } 
.category256.color157-fg { stroke: rgba(184,79,123,255); color: rgba(184,79,123,255); } 
.category256.color157-bg { background: rgba(184,79,123,255); fill: rgba(184,79,123,255); } 
.category256.color158-fg { stroke: rgba(227,142,173,255); color: rgba(227,142,173,255); } 
.category256.color158-bg { background: rgba(227,142,173,255); fill: rgba(227,142,173,255); } 
.category256.color159-fg { stroke: rgba(60,60,60,255); color: rgba(60,60,60,255); } 
.category256.color159-bg { background: rgba(60,60,60,255); fill: rgba(60,60,60,255); } 
.category256.color160-fg { stroke: rgba(189,189,189,255); color: rgba(189,189,189,255); } 
.category256.color160-bg { background: rgba(189,189,189,255); fill: rgba(189,189,189,255); } 
.category256.color161-fg { stroke: rgba(0,164,174,255); color: rgba(0,164,174,255); } 
.category256.color161-bg { background: rgba(0,164,174,255); fill: rgba(0,164,174,255); } 
.category256.color162-fg { stroke: rgba(40,209,233,255); color: rgba(40,209,233,255); } 
.category256.color162-bg { background: rgba(40,209,233,255); fill: rgba(40,209,233,255); } 
.category256.color163-fg { stroke: rgba(212,172,54,255); color: rgba(212,172,54,255); } 
.category256.color163-bg { background: rgba(212,172,54,255); fill: rgba(212,172,54,255); } 
.category256.color164-fg { stroke: rgba(240,196,70,255); color: rgba(240,196,70,255); } 
.category256.color164-bg { background: rgba(240,196,70,255); fill: rgba(240,196,70,255); } 
.category256.color165-fg { stroke: rgba(62,155,104,255); color: rgba(62,155,104,255); } 
.category256.color165-bg { background: rgba(62,155,104,255); fill: rgba(62,155,104,255); } 
.category256.color166-fg { stroke: rgba(74,196,116,255); color: rgba(74,196,116,255); } 
.category256.color166-bg { background: rgba(74,196,116,255); fill: rgba(74,196,116,255); } 
.category256.color167-fg { stroke: rgba(195,66,86,255); color: rgba(195,66,86,255); } 
.category256.color167-bg { background: rgba(195,66,86,255); fill: rgba(195,66,86,255); } 
.category256.color168-fg { stroke: rgba(237,80,101,255); color: rgba(237,80,101,255); } 
.category256.color168-bg { background: rgba(237,80,101,255); fill: rgba(237,80,101,255); } 
.category256.color169-fg { stroke: rgba(175,88,191,255); color: rgba(175,88,191,255); } 
.category256.color169-bg { background: rgba(175,88,191,255); fill: rgba(175,88,191,255); } 
.category256.color170-fg { stroke: rgba(196,104,230,255); color: rgba(196,104,230,255); } 
.category256.color170-bg { background: rgba(196,104,230,255); fill: rgba(196,104,230,255); } 
.category256.color171-fg { stroke: rgba(152,96,103,255); color: rgba(152,96,103,255); } 
.category256.color171-bg { background: rgba(152,96,103,255); fill: rgba(152,96,103,255); } 
.category256.color172-fg { stroke: rgba(191,121,128,255); color: rgba(191,121,128,255); } 
.category256.color172-bg { background: rgba(191,121,128,255); fill: rgba(191,121,128,255); } 
.category256.color173-fg { stroke: rgba(173,76,114,255); color: rgba(173,76,114,255); } 
.category256.color173-bg { background: rgba(173,76,114,255); fill: rgba(173,76,114,255); } 
.category256.color174-fg { stroke: rgba(218,109,144,255); color: rgba(218,109,144,255); } 
.category256.color174-bg { background: rgba(218,109,144,255); fill: rgba(218,109,144,255); } 
.category256.color175-fg { stroke: rgba(52,52,52,255); color: rgba(52,52,52,255); } 
.category256.color175-bg { background: rgba(52,52,52,255); fill: rgba(52,52,52,255); } 
.category256.color176-fg { stroke: rgba(161,161,161,255); color: rgba(161,161,161,255); } 
.category256.color176-bg { background: rgba(161,161,161,255); fill: rgba(161,161,161,255); } 
.category256.color177-fg { stroke: rgba(0,143,151,255); color: rgba(0,143,151,255); } 
.category256.color177-bg { background: rgba(0,143,151,255); fill: rgba(0,143,151,255); } 
.category256.color178-fg { stroke: rgba(13,206,230,255); color: rgba(13,206,230,255); } 
.category256.color178-bg { background: rgba(13,206,230,255); fill: rgba(13,206,230,255); } 
.category256.color179-fg { stroke: rgba(192,156,48,255); color: rgba(192,156,48,255); } 
.category256.color179-bg { background: rgba(192,156,48,255); fill: rgba(192,156,48,255); } 
.category256.color180-fg { stroke: rgba(237,182,36,255); color: rgba(237,182,36,255); } 
.category256.color180-bg { background: rgba(237,182,36,255); fill: rgba(237,182,36,255); } 
.category256.color181-fg { stroke: rgba(54,135,90,255); color: rgba(54,135,90,255); } 
.category256.color181-bg { background: rgba(54,135,90,255); fill: rgba(54,135,90,255); } 
.category256.color182-fg { stroke: rgba(47,182,90,255); color: rgba(47,182,90,255); } 
.category256.color182-bg { background: rgba(47,182,90,255); fill: rgba(47,182,90,255); } 
.category256.color183-fg { stroke: rgba(172,61,77,255); color: rgba(172,61,77,255); } 
.category256.color183-bg { background: rgba(172,61,77,255); fill: rgba(172,61,77,255); } 
.category256.color184-fg { stroke: rgba(231,50,74,255); color: rgba(231,50,74,255); } 
.category256.color184-bg { background: rgba(231,50,74,255); fill: rgba(231,50,74,255); } 
.category256.color185-fg { stroke: rgba(158,81,174,255); color: rgba(158,81,174,255); } 
.category256.color185-bg { background: rgba(158,81,174,255); fill: rgba(158,81,174,255); } 
.category256.color186-fg { stroke: rgba(185,74,225,255); color: rgba(185,74,225,255); } 
.category256.color186-bg { background: rgba(185,74,225,255); fill: rgba(185,74,225,255); } 
.category256.color187-fg { stroke: rgba(132,83,90,255); color: rgba(132,83,90,255); } 
.category256.color187-bg { background: rgba(132,83,90,255); fill: rgba(132,83,90,255); } 
.category256.color188-fg { stroke: rgba(177,95,102,255); color: rgba(177,95,102,255); } 
.category256.color188-bg { background: rgba(177,95,102,255); fill: rgba(177,95,102,255); } 
.category256.color189-fg { stroke: rgba(153,66,101,255); color: rgba(153,66,101,255); } 
.category256.color189-bg { background: rgba(153,66,101,255); fill: rgba(153,66,101,255); } 
.category256.color190-fg { stroke: rgba(212,79,120,255); color: rgba(212,79,120,255); } 
.category256.color190-bg { background: rgba(212,79,120,255); fill: rgba(212,79,120,255); } 
.category256.color191-fg { stroke: rgba(41,41,41,255); color: rgba(41,41,41,255); } 
.category256.color191-bg { background: rgba(41,41,41,255); fill: rgba(41,41,41,255); } 
.category256.color192-fg { stroke: rgba(129,129,129,255); color: rgba(129,129,129,255); } 
.category256.color192-bg { background: rgba(129,129,129,255); fill: rgba(129,129,129,255); } 
.category256.color193-fg { stroke: rgba(0,123,131,255); color: rgba(0,123,131,255); } 
.category256.color193-bg { background: rgba(0,123,131,255); fill: rgba(0,123,131,255); } 
.category256.color194-fg { stroke: rgba(2,191,222,255); color: rgba(2,191,222,255); } 
.category256.color194-bg { background: rgba(2,191,222,255); fill: rgba(2,191,222,255); } 
.category256.color195-fg { stroke: rgba(174,141,44,255); color: rgba(174,141,44,255); } 
.category256.color195-bg { background: rgba(174,141,44,255); fill: rgba(174,141,44,255); } 
.category256.color196-fg { stroke: rgba(233,173,11,255); color: rgba(233,173,11,255); } 
.category256.color196-bg { background: rgba(233,173,11,255); fill: rgba(233,173,11,255); } 
.category256.color197-fg { stroke: rgba(47,117,78,255); color: rgba(47,117,78,255); } 
.category256.color197-bg { background: rgba(47,117,78,255); fill: rgba(47,117,78,255); } 
.category256.color198-fg { stroke: rgba(26,169,69,255); color: rgba(26,169,69,255); } 
.category256.color198-bg { background: rgba(26,169,69,255); fill: rgba(26,169,69,255); } 
.category256.color199-fg { stroke: rgba(152,53,65,255); color: rgba(152,53,65,255); } 
.category256.color199-bg { background: rgba(152,53,65,255); fill: rgba(152,53,65,255); } 
.category256.color200-fg { stroke: rgba(226,26,54,255); color: rgba(226,26,54,255); } 
.category256.color200-bg { background: rgba(226,26,54,255); fill: rgba(226,26,54,255); } 
.category256.color201-fg { stroke: rgba(143,76,157,255); color: rgba(143,76,157,255); } 
.category256.color201-bg { background: rgba(143,76,157,255); fill: rgba(143,76,157,255); } 
.category256.color202-fg { stroke: rgba(173,48,220,255); color: rgba(173,48,220,255); } 
.category256.color202-bg { background: rgba(173,48,220,255); fill: rgba(173,48,220,255); } 
.category256.color203-fg { stroke: rgba(114,72,78,255); color: rgba(114,72,78,255); } 
.category256.color203-bg { background: rgba(114,72,78,255); fill: rgba(114,72,78,255); } 
.category256.color204-fg { stroke: rgba(164,72,81,255); color: rgba(164,72,81,255); } 
.category256.color204-bg { background: rgba(164,72,81,255); fill: rgba(164,72,81,255); } 
.category256.color205-fg { stroke: rgba(137,60,90,255); color: rgba(137,60,90,255); } 
.category256.color205-bg { background: rgba(137,60,90,255); fill: rgba(137,60,90,255); } 
.category256.color206-fg { stroke: rgba(203,54,97,255); color: rgba(203,54,97,255); } 
.category256.color206-bg { background: rgba(203,54,97,255); fill: rgba(203,54,97,255); } 
.category256.color207-fg { stroke: rgba(30,30,30,255); color: rgba(30,30,30,255); } 
.category256.color207-bg { background: rgba(30,30,30,255); fill: rgba(30,30,30,255); } 
.category256.color208-fg { stroke: rgba(108,108,108,255); color: rgba(108,108,108,255); } 
.category256.color208-bg { background: rgba(108,108,108,255); fill: rgba(108,108,108,255); } 
.category256.color209-fg { stroke: rgba(0,105,111,255); color: rgba(0,105,111,255); } 
.category256.color209-bg { background: rgba(0,105,111,255); fill: rgba(0,105,111,255); } 
.category256.color210-fg { stroke: rgba(0,184,220,255); color: rgba(0,184,220,255); } 
.category256.color210-bg { background: rgba(0,184,220,255); fill: rgba(0,184,220,255); } 
.category256.color211-fg { stroke: rgba(157,127,39,255); color: rgba(157,127,39,255); } 
.category256.color211-bg { background: rgba(157,127,39,255); fill: rgba(157,127,39,255); } 
.category256.color212-fg { stroke: rgba(230,146,3,255); color: rgba(230,146,3,255); } 
.category256.color212-bg { background: rgba(230,146,3,255); fill: rgba(230,146,3,255); } 
.category256.color213-fg { stroke: rgba(41,100,66,255); color: rgba(41,100,66,255); } 
.category256.color213-bg { background: rgba(41,100,66,255); fill: rgba(41,100,66,255); } 
.category256.color214-fg { stroke: rgba(11,158,49,255); color: rgba(11,158,49,255); } 
.category256.color214-bg { background: rgba(11,158,49,255); fill: rgba(11,158,49,255); } 
.category256.color215-fg { stroke: rgba(135,48,65,255); color: rgba(135,48,65,255); } 
.category256.color215-bg { background: rgba(135,48,65,255); fill: rgba(135,48,65,255); } 
.category256.color216-fg { stroke: rgba(219,8,34,255); color: rgba(219,8,34,255); } 
.category256.color216-bg { background: rgba(219,8,34,255); fill: rgba(219,8,34,255); } 
.category256.color217-fg { stroke: rgba(126,68,140,255); color: rgba(126,68,140,255); } 
.category256.color217-bg { background: rgba(126,68,140,255); fill: rgba(126,68,140,255); } 
.category256.color218-fg { stroke: rgba(164,24,216,255); color: rgba(164,24,216,255); } 
.category256.color218-bg { background: rgba(164,24,216,255); fill: rgba(164,24,216,255); } 
.category256.color219-fg { stroke: rgba(98,62,67,255); color: rgba(98,62,67,255); } 
.category256.color219-bg { background: rgba(98,62,67,255); fill: rgba(98,62,67,255); } 
.category256.color220-fg { stroke: rgba(152,51,61,255); color: rgba(152,51,61,255); } 
.category256.color220-bg { background: rgba(152,51,61,255); fill: rgba(152,51,61,255); } 
.category256.color221-fg { stroke: rgba(119,54,80,255); color: rgba(119,54,80,255); } 
.category256.color221-bg { background: rgba(119,54,80,255); fill: rgba(119,54,80,255); } 
.category256.color222-fg { stroke: rgba(196,27,76,255); color: rgba(196,27,76,255); } 
.category256.color222-bg { background: rgba(196,27,76,255); fill: rgba(196,27,76,255); } 
.category256.color223-fg { stroke: rgba(19,19,19,255); color: rgba(19,19,19,255); } 
.category256.color223-bg { background: rgba(19,19,19,255); fill: rgba(19,19,19,255); } 
.category256.color224-fg { stroke: rgba(100,100,100,255); color: rgba(100,100,100,255); } 
.category256.color224-bg { background: rgba(100,100,100,255); fill: rgba(100,100,100,255); } 
.category256.color225-fg { stroke: rgba(0,81,87,255); color: rgba(0,81,87,255); } 
.category256.color225-bg { background: rgba(0,81,87,255); fill: rgba(0,81,87,255); } 
.category256.color226-fg { stroke: rgba(0,145,177,255); color: rgba(0,145,177,255); } 
.category256.color226-bg { background: rgba(0,145,177,255); fill: rgba(0,145,177,255); } 
.category256.color227-fg { stroke: rgba(133,107,28,255); color: rgba(133,107,28,255); } 
.category256.color227-bg { background: rgba(133,107,28,255); fill: rgba(133,107,28,255); } 
.category256.color228-fg { stroke: rgba(220,124,2,255); color: rgba(220,124,2,255); } 
.category256.color228-bg { background: rgba(220,124,2,255); fill: rgba(220,124,2,255); } 
.category256.color229-fg { stroke: rgba(28,77,51,255); color: rgba(28,77,51,255); } 
.category256.color229-bg { background: rgba(28,77,51,255); fill: rgba(28,77,51,255); } 
.category256.color230-fg { stroke: rgba(5,121,31,255); color: rgba(5,121,31,255); } 
.category256.color230-bg { background: rgba(5,121,31,255); fill: rgba(5,121,31,255); } 
.category256.color231-fg { stroke: rgba(108,37,51,255); color: rgba(108,37,51,255); } 
.category256.color231-bg { background: rgba(108,37,51,255); fill: rgba(108,37,51,255); } 
.category256.color232-fg { stroke: rgba(207,3,29,255); color: rgba(207,3,29,255); } 
.category256.color232-bg { background: rgba(207,3,29,255); fill: rgba(207,3,29,255); } 
.category256.color233-fg { stroke: rgba(107,54,117,255); color: rgba(107,54,117,255); } 
.category256.color233-bg { background: rgba(107,54,117,255); fill: rgba(107,54,117,255); } 
.category256.color234-fg { stroke: rgba(139,13,184,255); color: rgba(139,13,184,255); } 
.category256.color234-bg { background: rgba(139,13,184,255); fill: rgba(139,13,184,255); } 
.category256.color235-fg { stroke: rgba(75,46,51,255); color: rgba(75,46,51,255); } 
.category256.color235-bg { background: rgba(75,46,51,255); fill: rgba(75,46,51,255); } 
.category256.color236-fg { stroke: rgba(135,38,47,255); color: rgba(135,38,47,255); } 
.category256.color236-bg { background: rgba(135,38,47,255); fill: rgba(135,38,47,255); } 
.category256.color237-fg { stroke: rgba(96,40,62,255); color: rgba(96,40,62,255); } 
.category256.color237-bg { background: rgba(96,40,62,255); fill: rgba(96,40,62,255); } 
.category256.color238-fg { stroke: rgba(166,16,57,255); color: rgba(166,16,57,255); } 
.category256.color238-bg { background: rgba(166,16,57,255); fill: rgba(166,16,57,255); } 
.category256.color239-fg { stroke: rgba(8,8,8,255); color: rgba(8,8,8,255); } 
.category256.color239-bg { background: rgba(8,8,8,255); fill: rgba(8,8,8,255); } 
.category256.color240-fg { stroke: rgba(85,85,85,255); color: rgba(85,85,85,255); } 
.category256.color240-bg { background: rgba(85,85,85,255); fill: rgba(85,85,85,255); } 
.category256.color241-fg { stroke: rgba(1,57,62,255); color: rgba(1,57,62,255); } 
.category256.color241-bg { background: rgba(1,57,62,255); fill: rgba(1,57,62,255); } 
.category256.color242-fg { stroke: rgba(0,115,140,255); color: rgba(0,115,140,255); } 
.category256.color242-bg { background: rgba(0,115,140,255); fill: rgba(0,115,140,255); } 
.category256.color243-fg { stroke: rgba(107,87,18,255); color: rgba(107,87,18,255); } 
.category256.color243-bg { background: rgba(107,87,18,255); fill: rgba(107,87,18,255); } 
.category256.color244-fg { stroke: rgba(216,107,0,255); color: rgba(216,107,0,255); } 
.category256.color244-bg { background: rgba(216,107,0,255); fill: rgba(216,107,0,255); } 
.category256.color245-fg { stroke: rgba(18,54,35,255); color: rgba(18,54,35,255); } 
.category256.color245-bg { background: rgba(18,54,35,255); fill: rgba(18,54,35,255); } 
.category256.color246-fg { stroke: rgba(2,92,20,255); color: rgba(2,92,20,255); } 
.category256.color246-bg { background: rgba(2,92,20,255); fill: rgba(2,92,20,255); } 
.category256.color247-fg { stroke: rgba(87,26,31,255); color: rgba(87,26,31,255); } 
.category256.color247-bg { background: rgba(87,26,31,255); fill: rgba(87,26,31,255); } 
.category256.color248-fg { stroke: rgba(173,1,16,255); color: rgba(173,1,16,255); } 
.category256.color248-bg { background: rgba(173,1,16,255); fill: rgba(173,1,16,255); } 
.category256.color249-fg { stroke: rgba(84,38,94,255); color: rgba(84,38,94,255); } 
.category256.color249-bg { background: rgba(84,38,94,255); fill: rgba(84,38,94,255); } 
.category256.color250-fg { stroke: rgba(110,8,154,255); color: rgba(110,8,154,255); } 
.category256.color250-bg { background: rgba(110,8,154,255); fill: rgba(110,8,154,255); } 
.category256.color251-fg { stroke: rgba(53,31,32,255); color: rgba(53,31,32,255); } 
.category256.color251-bg { background: rgba(53,31,32,255); fill: rgba(53,31,32,255); } 
.category256.color252-fg { stroke: rgba(106,25,33,255); color: rgba(106,25,33,255); } 
.category256.color252-bg { background: rgba(106,25,33,255); fill: rgba(106,25,33,255); } 
.category256.color253-fg { stroke: rgba(74,27,43,255); color: rgba(74,27,43,255); } 
.category256.color253-bg { background: rgba(74,27,43,255); fill: rgba(74,27,43,255); } 
.category256.color254-fg { stroke: rgba(139,11,41,255); color: rgba(139,11,41,255); } 
.category256.color254-bg { background: rgba(139,11,41,255); fill: rgba(139,11,41,255); } 
.category256.color255-fg { stroke: rgba(1,1,1,255); color: rgba(1,1,1,255); } 
.category256.color255-bg { background: rgba(1,1,1,255); fill: rgba(1,1,1,255); } 
.category256.color256-fg { stroke: rgba(77,77,77,255); color: rgba(77,77,77,255); } 
.category256.color256-bg { background: rgba(77,77,77,255); fill: rgba(77,77,77,255); } 
